@value neonpink, neonblue from 'sharedStyles/colors.css';

.creditsPage h3 {
  margin-top: 0;
}

.creditsPage p {
  font-size: 2em;
}

.endTitle {
  --scale: 1;
  font-size: 18em;
  transform: scale(var(--scale));
  text-shadow: 10px 10px neonpink,
    -10px -10px neonblue;
  margin-bottom: 0;
}